<div class="cart">
  <div class="cart-items">
    <div class="table-names">
      <div class="table-name product">
        <strong>Product</strong>
      </div>
      <div class="table-name amount border">
        <strong>Amount</strong>
      </div>
      <div class="table-name total border">
        <strong>Total</strong>
      </div>
    </div>
    <div class="cart-item" *ngFor="let product of products; let i = index">
      <div class="product">
        <div class="product-image">
          <img *ngIf="product.images && product.images[0]"
               src="{{imageService.getImageUrl(product.images[0].fileName)}}"
               class="image"
               alt="">
          <div *ngIf="!product.images || !product.images[0]" class="default-image">
            <mat-icon [inline]="true">category</mat-icon>
          </div>
        </div>
        <div class="product-title">
          <a href="product/{{product.productId}}"><h2>{{product.title}}</h2></a>
        </div>
      </div>
      <div class="amount">
        <button class="amount-add-btn btn"
                [disabled]="product.type === 0 && product.sellOrLend === 0 && cartItems[i].amountOrTime >= product.amount"
                (click)="addAmount(i)">
          <mat-icon>add</mat-icon>
        </button>
        <button class="amount-remove-btn btn" [disabled]="cartItems[i].amountOrTime <= 1" (click)="removeAmount(i)">
          <mat-icon>remove</mat-icon>
        </button>
        <input class="amount-input" [(ngModel)]="cartItems[i].amountOrTime" (blur)="saveChange(cartItems[i], i)" type="number">
        <span *ngIf="(product.type === 0 && product.sellOrLend === 1) || product.type === 1">
          {{product.priceKind === 0 ? '' : (product.priceKind === 1 ? 'Hour(s)' : 'Day(s)')}}
        </span>
      </div>
      <div class="total">
        <strong class="total-price">
          {{(product.price * cartItems[i].amountOrTime).toLocaleString('en-US', { style: 'currency', currency: 'USD' })}}
        </strong>
        <button class="remove-cart-item" mat-icon-button matTooltip="Remove Item" (click)="removeCartItem(cartItems[i])">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <hr>
      <div *ngIf="product.status === 0 || product.amount === 0" class="not-available">
        Not Available anymore!
      </div>
    </div>
  </div>
  <div class="checkout">
    <span><strong>Total:</strong></span><br>
    <span style="float: right">{{total.toLocaleString('en-US', { style: 'currency', currency: 'USD' })}}</span><br>
    <span><strong>Your Credits:</strong></span><br>
    <span style="float: right">{{credits.toLocaleString('en-US', { style: 'currency', currency: 'USD' })}}</span><br>
    <hr>
    <span><strong>Balance:</strong></span><br>
    <span style="float: right">
      {{(credits - total).toLocaleString('en-US', { style: 'currency', currency: 'USD' })}}
    </span>
    <button mat-stroked-button
            class="checkout-btn black-btn"
            [disabled]="cartItems && (cartItems.length < 1 || total > credits)"
            (click)="checkout()">
      Checkout
    </button>
  </div>
</div>
