<div class="nav-bar">
  <div class="logo">
    <mat-icon (click)="navigateTo('home')">home</mat-icon><a href="home"><strong>TEAM5</strong></a>
  </div>
  <!--
  <div class="search-container">
    <input type="text" placeholder="Search..." name="search" [(ngModel)]="searchFilter" (keydown.enter)="searchItem()">
    <button (click)="searchItem()"><mat-icon>search</mat-icon></button>
  </div>
-->
  <div id="nav-entries" class="nav-entries">
    <button mat-stroked-button class="createListing-btn" (click)="navigateTo('create-listing')">+ Create new Listing</button>
    <a class="shopping-cart" href="shopping-cart"><mat-icon>shopping_cart</mat-icon><h3></h3></a>
    <div id="my-account" class="my-account" (click)="openCloseAccountModal()">
      <mat-icon class="person-outline">person</mat-icon><h3>{{myAccount}}</h3><mat-icon>{{myAccountArrow}}</mat-icon>
    </div>
  </div>
</div>
<mat-divider class="nav-divider"></mat-divider>
<div id="my-account-bg" class="my-account-bg" (click)="openCloseAccountModal()"></div>
<div id="my-account-content" class="my-account-content">
  <div *ngIf="!isLoggedIn()">
    <div class="my-account-content-section">
      <a href="login"><mat-icon>login</mat-icon>Log In</a>
    </div>
    <div class="my-account-content-section">
      <a href="signup"><mat-icon>assignment</mat-icon>Sign Up</a>
    </div>
  </div>
  <div *ngIf="isLoggedIn()">
    <div class="my-account-content-section">
      <a href="profile"><mat-icon>account_circle</mat-icon>Profile</a>
    </div>
    <div class="my-account-content-section">
      <a href="admin/dashboard"><mat-icon>admin_panel_settings</mat-icon>Admin Dashboard</a>
    </div>
    <div class="my-account-content-section">
      <a href="my-products"><mat-icon>store</mat-icon>My Products</a>
    </div>
    <div class="my-account-content-section">
      <a href="create-listing"><mat-icon>plus</mat-icon>Create Listing</a>
    </div>
    <div class="my-account-content-section">
      <a href="logout"><mat-icon>exit_to_app</mat-icon>Log Out</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>