.nav-bar {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  height: 50px;
  background-color: #131313;
  user-select: none;
}

.logo {
  display: inline;
  position: relative;
  top: 12px;
  left: 8%;
}

.logo a {
  color: #ffffff;
  font-size: 25px;
  text-decoration: none;
}

.logo mat-icon {
  cursor: pointer;
  position: relative;
  top: 2px;
  color: #ffffff;
  display: none;
}

.search-container {
  display: inline-grid;
  position: relative;
  top: 8px;
  left: calc(30% - 71px);
  width: 40%;
  grid-template-columns: 12fr;
}

.search-container > input {
  height: 27px;
  grid-column-start: 1;
  grid-column-end: 12;
}

.search-container > input:focus {
  outline: none;
}

.search-container > button {
  height: 33px;
  grid-column-start: 12;
  grid-column-end: 13;
}

.nav-entries {
  float: right;
  display: inline;
  position: relative;
  top: 4px;
  right: 5%;
}

.nav-entries div {
  display: inline;
}

.my-account {
  color: #d7d7d7;
  cursor: pointer;
}

.my-account:hover {
  color: #ffffff;
}

.person-outline {
  display: none;
}

.my-account h3 {
  display: inline;
  text-decoration: none;
}

.my-account mat-icon {
  position: relative;
  top: 7px;
}

.nav-entry {
  margin-left: 20px;
  color: #d7d7d7;
  text-decoration: none;
}

.nav-entry:hover {
  color: #ffffff;
}

.nav-entry h3 {
  display: inline;
  padding-left: 4px;
  text-decoration: none;
}

.nav-entry mat-icon {
  position: relative;
  top: 7px;
}

.my-account-bg {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.my-account-content {
  display: block;
  visibility: hidden;
  position: absolute;
  float: right;
  z-index: 2;
  top: 50px;
  min-width: 200px;
  margin: 0;
  background-image: radial-gradient(ellipse farthest-side at center top, #2f2f2f 0%, #131313 100%);
  border: 1px solid rgba(255,255,255,0.15);
}

.my-account-content-section {
  display: block;
  padding: 4px 0 10px;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}

.my-account-content-section a {
  margin-left: 20px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.my-account-content-section a:hover {
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.my-account-content-section a:active {
  color: rgba(255, 255, 255, 0.3);
}

.my-account-content-section mat-icon {
  position: relative;
  top: 7px;
  margin-right: 8px;
}

@media only screen and (max-width: 1600px) {
  .nav-entries {
    right: 20px;
  }
}

@media only screen and (max-width: 1500px) {
  .my-account h3 {
    display: none;
  }

  .person-outline {
    display: inline;
  }
}

@media only screen and (max-width: 1100px) {
  .logo {
    left: 20px;
  }

  .logo a {
    display: none;
  }

  .search-container {
    left: calc(30% - 25px);
  }

  .logo mat-icon {
    display: inline;
  }

  .nav-entry h3 {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .search-container {
    left: calc(20% - 25px);
  }
}
