<div class="nav-bar">
  <div class="logo">
    <a href="catalog"><mat-icon>home</mat-icon><strong>TEAM5</strong></a>
  </div>
  <div class="search-container">
    <input class="search-input" type="search" placeholder="Search..." [(ngModel)]="searchFilter" (keydown.enter)="searchItem()">
    <button class="search-btn" (click)="searchItem()"><mat-icon>search</mat-icon></button>
  </div>
  <div class="nav-entries">
    <div class="nav-entry account-btn" [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon><h3>{{userName}}</h3>
    </div>
    <a class="nav-entry-icon-btn--ext" [matMenuTriggerFor]="menu">
      <a mat-icon-button class="nav-entry-icon-btn account-icon"><mat-icon>person</mat-icon></a>
    </a>
    <a href="inbox" mat-icon-button class="nav-entry-icon-btn">
      <mat-icon [matBadgeHidden]="newNotifications === 0"
                [matBadge]="newNotifications > 9 ? '9+' : newNotifications"
                matBadgeSize="small"
                matBadgeColor="warn"
                matTooltip="Inbox">
        email
      </mat-icon>
    </a>
    <a href="my-products/new" mat-icon-button class="nav-entry-icon-btn">
      <mat-icon matTooltip="Create Product">post_add</mat-icon>
    </a>
    <a href="cart" mat-icon-button class="nav-entry-icon-btn">
      <mat-icon matTooltip="Shopping Cart">shopping_cart</mat-icon>
    </a>
  </div>
</div>
<mat-menu #menu="matMenu" xPosition="after" class="account-menu">
  <div *ngIf="!isLoggedIn">
    <a mat-menu-item href="login">
      <mat-icon>login</mat-icon>
      <span>Log In</span>
    </a>
    <a mat-menu-item href="signup">
      <mat-icon>assignment</mat-icon>
      <span>Sign Up</span>
    </a>
  </div>
  <div *ngIf="isLoggedIn">
    <a mat-menu-item href="profile">
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
    </a>
    <a *ngIf="isAdmin" mat-menu-item href="admin/dashboard">
      <mat-icon>admin_panel_settings</mat-icon>
      <span>Admin Dashboard</span>
    </a>
    <a mat-menu-item href="my-products">
      <mat-icon>store</mat-icon>
      <span>My Products</span>
    </a>
    <a mat-menu-item href="wishlist">
      <mat-icon>list</mat-icon>
      <span>My Wishlist</span>
    </a>
    <a mat-menu-item href="logout">
      <mat-icon>exit_to_app</mat-icon>
      <span>Log Out</span>
    </a>
  </div>
</mat-menu>
<router-outlet></router-outlet>
