.nav-bar {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  height: 3em;
  padding: 2em;
  background-color: #ffffff;
  user-select: none;
}


.nav-divider {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5em;
  width: 95%;

}

.logo {
  display: inline-block;
  position: relative;
  left: 8%;
  margin-top: 0.7em;
}

.logo a {
  color: #000000;
  font-size: 30px;
  text-decoration: none;
  text-align: -webkit-match-parent;
}

.logo mat-icon {
  cursor: pointer;
  position: relative;
  color: #000000;
  display: none;
}

.search-container {
  display: inline-grid;
  margin-right: 25px;
  width: 20%;
  grid-template-columns: 12fr;
}

.search-container > input {
  height: 30px;
}

.search-container > input:focus {
  outline: none;
}

.search-container > button {
  height: 33px;
}

.nav-entries {
  float: right;
  display: inline;
  position: relative;
  right: 7%;
}

.nav-entries div {
  display: inline;
}

.my-account {
  color: #303030;
  cursor: pointer;
}

.my-account:hover {
  color: #000000;
}


.my-account h3 {
  display: inline;
  text-decoration: none;
}

.my-account mat-icon {
  position: relative;
  top: 7px;
}

.nav-entry {
  margin-left: 20px;
  color: #d7d7d7;
  text-decoration: none;
}

.nav-entry:hover {
  color: #ffffff;
}

.nav-entry h3 {
  display: inline;
  padding-left: 4px;
  text-decoration: none;
}
.person-outline {
  display: inline;
  padding-left: 4px;
  text-decoration: none;
}

.nav-entry mat-icon {
  position: relative;
  top: 7px;
}


.createListing-btn {
  border: 1px solid #0000001F;
  border-radius: 4px;
  margin-right: 25px;
}


@media only screen and (max-width: 1400px) {
  .nav-entries {
    right: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .logo {
    left: 20px;
  }

  .logo a {
    display: none;
  }

  .search-container {
    left: calc(30% - 25px);
  }

  .logo mat-icon {
    display: inline;
  }

  .my-account h3 {
    display: none!important;
  }

  .nav-entry h3 {
    display: none!important;
  }

  .person-outline {
    display: inline;
  }
}

@media only screen and (max-width: 400px) {
  .search-container {
    left: calc(20% - 25px);
  }
}
