.nav-bar {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  user-select: none;
  padding: 45px;
}

.nav-divider {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.nav-spacing {
  flex: 1 1 auto;
}

.logo {
  display: inline;
  position: relative;
  left: 8%;
}

.logo a {
  color: #000000;
  font-size: 30px;
  text-decoration: none;
  text-align: -webkit-match-parent;
}

.logo mat-icon {
  cursor: pointer;
  position: relative;
  color: #000000;
  display: none;
}

.nav-entries {
  float: right;
  position: relative;
}

.search-container {
  display: inline-flex;
  position: relative;
  width: 30%;
  font-size: 15px;
  vertical-align: middle;
  margin-top: 15px;
}

.search {
  vertical-align: middle;
}

input.mat-input-element {
  height: 15px;
  margin-top:0px;
  margin-bottom:7px;
  padding: 0;
}

.my-account {
  color: #303030;
  cursor: pointer;
}

.my-account:hover {
  color: #000000;
}

.my-account h3 {
  display: inline;
  text-decoration: none;
}

.my-account mat-icon {
  position: relative;
  top: 7px;
}

.nav-entry {
  margin-left: 20px;
  color: #d7d7d7;
  text-decoration: none;
}

.nav-entry:hover {
  color: #ffffff;
}

.nav-entry h3 {
  display: inline;
  padding-left: 4px;
  text-decoration: none;
}
.person-outline {
  display: inline;
  padding-left: 4px;
  text-decoration: none;
}

.nav-entry mat-icon {
  position: relative;
  top: 7px;
}


.createListing-btn {
  border: 1px solid #0000001F;
  border-radius: 4px;
  margin-right: 25px;
}


@media only screen and (max-width: 1400px) {
  .nav-entries {
    right: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .logo {
    left: 20px;
  }

  .logo a {
    display: none;
  }

  .search-container {
    left: calc(-25px);
  }

  .logo mat-icon {
    display: inline;
  }

  .my-account h3 {
    display: none!important;
  }

  .nav-entry h3 {
    display: none!important;
  }

  .person-outline {
    display: inline;
  }
}

@media only screen and (max-width: 700px) {
  .search-container {
    left: calc(50% - 25px);
  }

}
