.status-circle {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.deliverable-semi-circle {
  position: absolute;
  top: 0;
  height: 50%;
  width: 100%;
  border: 1px solid #efbb2d;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  border-bottom: 0;
  transform: rotate(270deg);
}

.available-semi-circle {
  position: absolute;
  top: 0;
  left: 50%;
  height: 50%;
  width: 100%;
  border: 1px solid #efbb2d;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  border-bottom: 0;
  transform: rotate(90deg);
}

.filled {
  background-color: #efbb2d;
}

::ng-deep .mat-tooltip {
  white-space: pre-line!important;
}
