<div class="admin-panel-bg">
  <h1><strong>ADMIN DASHBOARD</strong></h1>
  <div class="admin-panel">
    <a href="admin/dashboard/users">
      <mat-card>
        <mat-card-content>
          <div class="icon">
            <mat-icon [inline]="true">account_circle</mat-icon>
          </div>
          <h2><strong>USERS</strong></h2>
        </mat-card-content>
      </mat-card>
    </a>
    <a href="admin/dashboard/products">
      <mat-card>
        <mat-card-content>
          <div class="icon">
            <mat-icon [inline]="true">shopping_bag</mat-icon>
          </div>
          <h2><strong>PRODUCTS</strong></h2>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>
