.signup-form {
  margin: 20px auto 0;
  padding: 25px;
  width: 50%;
  min-width: 431px;
  border: 1px solid #a7a7a7;
}

.signup-form > h1 {
  text-align: center;
}

.signup-form mat-form-field {
  display: block;
  min-width: 0;
}

:host ::ng-deep .signup-form .mat-form-field-wrapper{
  margin: 3px 0 !important;
}

.signup-form-fields {
  width: 95%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 15px;
}

.signup-form-btn {
  background-color: #1a1a1a;
  color: white;
  grid-column-start: 2;
  grid-column-end: 4;
}

.signup-form-btn:hover {
  background-color: #101010;
}

.signup-form-btn:disabled {
  background-color: #353535;
  color: white;
}

.first-name {
  grid-column-start: 1;
  grid-column-end: 3;
}

.last-name {
  grid-column-start: 3;
  grid-column-end: 5;
}

.email, .country, .address, .username, .password{
  grid-column-start: 1;
  grid-column-end: 5;
}

.phone-nr, .city {
  grid-column-start: 1;
  grid-column-end: 4;
}

.gender, .zip-code {
  grid-column-start: 4;
  grid-column-end: 5;
}
