<div class="signup-form">
  <h1>Sign Up</h1>
  <hr>
  <form [formGroup]="signUpForm" (ngSubmit)="signUp()" class="signup-form-fields">
    <mat-form-field appearance="outline" class="first-name">
      <mat-label>First Name*</mat-label>
      <input matInput type="text" formControlName="firstName">
      <mat-error *ngIf="signUpForm.controls.firstName.hasError('required')">First Name required!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="last-name">
      <mat-label>Last Name*</mat-label>
      <input matInput type="text" formControlName="lastName">
      <mat-error *ngIf="signUpForm.controls.lastName.hasError('required')">Last Name required!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="email">
      <mat-label>Email*</mat-label>
      <input matInput type="email" formControlName="email">
      <mat-error *ngIf="signUpForm.controls.email.hasError('required')">Email required!</mat-error>
      <mat-error *ngIf="signUpForm.controls.email.hasError('email')">Invalid email!</mat-error>
      <mat-error *ngIf="signUpForm.controls.email.hasError('inUse')">Email is already in use!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="phone-nr">
      <mat-label>Phone Nr.</mat-label>
      <input matInput type="tel" formControlName="phoneNr">
    </mat-form-field>
    <mat-form-field appearance="outline" class="gender">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
        <mat-option value="other">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="country">
      <mat-label>Country</mat-label>
      <input matInput type="text" formControlName="country">
    </mat-form-field>
    <mat-form-field appearance="outline" class="city">
      <mat-label>City</mat-label>
      <input matInput type="text" formControlName="city">
    </mat-form-field>
    <mat-form-field appearance="outline" class="zip-code">
      <mat-label>ZIP Code</mat-label>
      <input matInput type="number" formControlName="zipCode">
    </mat-form-field>
    <mat-form-field appearance="outline" class="address">
      <mat-label>Address</mat-label>
      <input matInput type="text" formControlName="address">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="username">
      <mat-label>Username*</mat-label>
      <input matInput type="text" formControlName="userName">
      <mat-error *ngIf="signUpForm.controls.userName.hasError('required')">Username required!</mat-error>
      <mat-error *ngIf="signUpForm.controls.userName.hasError('minlength')">Username requires at least 4 characters!</mat-error>
      <mat-error *ngIf="signUpForm.controls.userName.hasError('inUse')">Username is already in use!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="password">
      <mat-label>Password*</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="signUpForm.controls.password.hasError('required')">Password required!</mat-error>
      <mat-error *ngIf="signUpForm.controls.password.hasError('pattern')">
        Password requires a capital letter, a number, a special character(@ $ ! % * ? & + # - : ;) and at least 7 characters!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="password">
      <mat-label>Confirm Password*</mat-label>
      <input matInput type="password" formControlName="cPassword">
      <mat-error *ngIf="signUpForm.controls.cPassword.hasError('notEquivalent')">Passwords do not match!</mat-error>
    </mat-form-field>
    <button mat-stroked-button type="submit" class="signup-form-btn" color="black" [disabled]="signUpForm.invalid">Sign Up</button>
  </form>
</div>
