<div class="signup-form">
  <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <h1>Sign Up</h1>
    <hr>
    <div class="signup-fields">
      <label><b>First Name</b></label>
      <input type="text" placeholder="First Name" formControlName="firstName">
      <label><b>Last Name</b></label>
      <input type="text" placeholder="Last Name" formControlName="lastName">
      <label><b>Email</b></label>
      <input type="email" placeholder="Email" formControlName="email">
      <br><br><br>
      <label><b>Username</b></label>
      <input type="text" placeholder="Username" formControlName="userName">
      <label><b>Password</b></label>
      <input type="password" placeholder="Password" formControlName="password">
      <label><b>Confirm Password</b></label>
      <input type="password" placeholder="Confirm Password" formControlName="c_password">
    </div>
    <button type="submit" [disabled]="signUpForm.invalid" class="signup-form-btn">Sign Up</button>
  </form>
</div>
