.createListing-form {
  margin: 4% auto 40px;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-column-gap: 15px;
  padding: 25px;
  }


  .createListing-form > h1 {
    font-size: 3em;
    margin-bottom: 1em;
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 7;
  }
  
  .createListing-form mat-form-field {
    display: block;
    min-width: 0;
  }
  
  :host ::ng-deep .createListing-form .mat-form-field-wrapper{
    margin: 3px 0 !important;
  }
  
  .createListing-form-fields {
    display: block;
    min-width: 0;
  }
   
  .description textarea {
    min-height: 150px;
  }

  .createListing-form-btn {
    text-align: center;
    display: inline-block;
    margin-top: 4em;
    background-color:#FBB03B;
    color: white;
    border-radius: 20px;
    width: 300px;
    grid-column-start: 2;
    grid-column-end: 4;
  }
  
  .createListing-form-btn:hover {
    background-color:#f78400;
  }
  
  .createListing-form-btn:disabled {
    background-color: #353535;
    color: white;
  }
    
  .title {
    grid-column-start: 3;
    grid-column-end: 7;
  }
  
  .listingType {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .description {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  
  .price {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  .priceKind {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  
  .sellOrlend {
    grid-column-start: 5;
    grid-column-end: 7;
  }
  
  .location {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  