.account-content {
  margin: 0 auto;
}

.account-content-header {
  position: relative;
  padding-top: 10px;
}

.account-content-header h1 {
  text-align: center;
  margin: 0 0 10px;
}

.credits {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.account-content-header h2 {
  margin: 3px 20px 0 0;
  display: inline-block;
}

.recharge-btn {
  display: inline-block;
}

.account-tab {
  width: 22%;
}

.content {
  margin: 0 auto;
  width: calc(500px + 35%);
  min-height: calc(100vh - 202px);
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

@media only screen and (max-width: 1100px) {
  .account-tab {
    width: 24%;
  }

  .content {
    border: none;
    width: 100%;
  }
}
