<div class="product-panel-bg">
  <div class="product-panel">
    <h1><strong><a href="admin/dashboard">Admin Dashboard</a> - Product List</strong></h1>
    <br><br>
    <div class="filter-container">
      <div class="filter-search">
        <input type="search" placeholder="Search" class="search" [(ngModel)]="searchFilter" (keydown.enter)="filterProducts()">
        <mat-icon (click)="filterProducts()">search</mat-icon>
      </div>
      <div class="filter-approve">
        <p>Filter by: </p>
        <mat-form-field appearance="outline">
          <mat-select [(ngModel)]="filter" (ngModelChange)="filterProducts()">
            <mat-option [value]=0>All</mat-option>
            <mat-option [value]=1>Approved</mat-option>
            <mat-option [value]=2>Unapproved</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="products && !products[0]" class="no-products">
      <h1>No Products found!</h1>
    </div>
    <div *ngIf="products && products[0]">
      <div *ngFor="let product of products" class="product">
        <app-compact-product-list [product]="product" view="admin"></app-compact-product-list>
      </div>
    </div>
  </div>
</div>
