.profile {
    min-height: calc(100vh - 50px);
    margin: 4% auto 40px;
    width: 60%;
    padding: 25px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-column-gap: 15px;
  }
  
  .profile > h1 {
    font-size: 3em; 
    margin-bottom: 1em;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 7;
  }