.profile {
    margin: 4% auto 40px;
    width: 60%;
    padding: 25px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-column-gap: 15px;
  }
  
  .profile > h1 {
    font-size: 3em; 
    line-height: 110%;
    margin-bottom: 1em;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 7;
  }
  
  .profile-form mat-form-field {
    display: block;
    min-width: 0;
  }
  
  :host ::ng-deep .signup-form .mat-form-field-wrapper{
    margin: 3px 0 !important;
  }

  .profile-form-fields {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 7;
  }
  
  .profile-form-btn {
    background-color: #1a1a1a;
    color: white;
    grid-column-start: 2;
    grid-column-end: 4;
  }
  
  .profile-form-btn:hover {
    background-color: #101010;
  }
  
  .profile-form-btn:disabled {
    background-color: #353535;
    color: white;
  }
  
  .first-name {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  .last-name {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  
  .email, .country, .address, .username, .password{
    grid-column-start: 1;
    grid-column-end: 5;
  }
  
  .phone-nr, .city {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  
  .gender, .zip-code {
    grid-column-start: 4;
    grid-column-end: 5;
  }
  