.login-form {
  margin: 7% auto 0;
  padding: 25px;
  width: 50%;
  min-width: 431px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.6);
}

.login-form > h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 2em;
}

.login-form mat-form-field {
  display: block;
  min-width: 0;
}

.login-form mat-icon:hover {
  cursor: pointer;
}

.login-form-fields {
  width: 95%;
  margin: 30px auto;
  text-align: center;
}

.login-form mat-icon {
  user-select: none;
}

.login-form-links {
  margin-top: 20px;
}

.login-form a {
  margin-top: 5px;
  display: inline-block;
  color: black;
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}

.login-form-btn {
  margin-top: 30px;
  width: 50%;
  grid-column-start: 2;
  grid-column-end: 4;
}

@media only screen and (max-width: 400px) {
  .login-form {
    padding: 25px;
    width: 90%;
    min-width: 231px;
    border: none;
    box-shadow: none;
  }

  .login-form > h1 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.7em;
  }
}