<div class="login-form">
  <h1>Login</h1>
  <hr>
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form-fields">
    <mat-form-field appearance="outline">
      <mat-label>Username or Email</mat-label>
      <input matInput type="text" formControlName="userNameOrEmail">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-error *ngIf="showErrorMessage">Invalid combination of username/email and password!</mat-error>
    <div class="login-form-links">
      <a href="signup">Don't have an account yet? Sign Up</a>
      <br>
      <!--<a href="login/forgot-password">Forgot password?</a>-->
    </div>
    <button mat-stroked-button type="submit" class="login-form-btn black-btn" color="black" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
