.login-form {
  margin: 7% auto 0;
  padding: 25px;
  width: 50%;
  min-width: 431px;
  border: 1px solid #a7a7a7;
}

.login-form > h1 {
  text-align: center;
}

.login-form mat-form-field {
  display: block;
  min-width: 0;
}

.login-form mat-icon:hover {
  cursor: pointer;
}

.login-form-fields {
  width: 95%;
  margin: 30px auto;
  text-align: center;
}

.login-form-links {
  margin-top: 20px;
}

.login-form a {
  margin-top: 5px;
  display: inline-block;
  color: black;
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}

.login-form-btn {
  margin-top: 30px;
  width: 50%;
  grid-column-start: 2;
  grid-column-end: 4;
}
