.catalog-panel {
  margin: 0 auto;
  padding-top: 20px;
  display: block;
  text-align: center;
  user-select: none;
}

.catalog-panel mat-card {
  margin: 10px 20px;
  padding: 60px;
  display: inline-block;
  width: 20%;
  min-width: 300px;
  text-align: center;
}

.catalog-panel h1 {
  margin-top: 30px;
  font-size: 40px;
}

.browse-btn {
  background-color: #efbb2d;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 15px 80px;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  outline: none;
}

.browse-btn:hover {
  background-color: #ffca38;
}

.browse-btn:active {
  background-color: #d4a423;
}

.filters {
  position: relative;
  width: 80%;
  margin: 20px auto 0;
}

.filter-btn {
  user-select: none;
  cursor: pointer;
  display: inline-block;
  padding: 0 8px 8px;
}

.filter-btn:hover {
  color: #7a7a7a;
  fill: #7a7a7a;
}

.filter-btn:active {
  color: #4e4e4e;
  fill: #4e4e4e;
}

.filter-icon {
  position: relative;
  top: 8px;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.filter-text {
  margin: 0;
  display: inline-block;
}

.filter-options {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.filter {
  color: #3c3c3c;
  display: inline-block;
  width: 200px;
  height: 200px;
  padding: 0 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.filter-radio-grp {
  display: flex;
  flex-direction: column;
}

.filter-radio-btn {
  margin: 5px
}

.filter-type {
  position: relative;
  top: -81px;
}

.filter-price {}

.filter-sale-type {
  position: relative;
  top: -81px;
}

.filter-location {
  position: relative;
  top: -71px;
}

.filter-status-deli {
  position: relative;
  top: -44px;
}

.filter-sort-by {
  position: relative;
  top: -81px;
}

.filter-label {
  display: inline-block;
  width: 180px;
  padding: 10px 0 2px;
}

.filter-input {
  border: none;
  outline: none;
  padding: 2px 0;
  border-bottom: 1px solid #131313;
}

.filter-input-location {
  margin-top: 15px;
  width: 90%;
}

.filter-checkbox {
  cursor: pointer;
}

.product-view-selector {
  position: absolute;
  top: -10px;
  right: 0;
}

.no-products-found {
  margin-top: 3%;
  text-align: center;
}

.product-list {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, 307px);
  margin: 0 auto 30px;
  padding-top: 1%;
  width: auto;
}

.product-list-2 {
  width: 80%;
  margin: 0 auto;
}

.catalog-compact-product {
  margin: 10px auto 0;
}

@media only screen and (max-width: 1200px) {
  .filters {
    width: 95%;
  }
}
