.product-card {
  width: 275px;
}

.default-image {
  min-width: 275px;
  min-height: 188px;
  background-color: #e9e9e9;
  text-align: center;
  font-size: 70px
}

.default-image mat-icon {
  user-select: none;
  padding-top: 80px;
  color: #a0a0a0;
}

.product-description {
  display: none;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  overflow-wrap: break-word;
  width: 100%;
  height: 188px;
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  white-space: pre-wrap;
  background-color: rgba(0, 0, 0, 0.6);
}

.product-description p {
  user-select: none;
  margin: 10px auto 0;
  width: 90%;
}

.product-card-content {
  position: relative;
  height: 4em;
}

.status-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
}

.product-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  overflow-wrap: break-word;
  font-size: 16px;
  text-decoration: none;
  color: #000000;
}

.product-title:hover {
  text-decoration: underline;
}

.green {
  color: #008100;
}
