/* You can add global styles to this file, and also import other style files */

html { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.black-btn {
  color: #ececec;
  background-color: #212121;
}

.black-btn:hover {
  color: #ffffff;
  background-color: #0c0c0c;
}

.black-btn:disabled {
  color: #d4d4d4!important;
  background-color: #393939;
}

.green-btn {
  color: #ececec;
  background-color: #3fab32;
}

.green-btn:hover {
  color: #ffffff;
  background-color: #2fbf1f;
}

.green-btn:disabled {
  color: #d4d4d4!important;
  background-color: #67a760;
}

.red-btn {
  color: #ececec;
  background-color: #d04b4b;
}

.red-btn:hover {
  color: #ffffff;
  background-color: #db2929;
}

.red-btn:disabled {
  color: #d4d4d4!important;
  background-color: #bc5959;
}
  
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
