<div class="user-panel-bg">
  <div class="user-panel">
    <h1><strong><a href="admin/dashboard">Admin Dashboard</a> - User List</strong></h1>
    <mat-accordion multi>
      <mat-expansion-panel *ngFor="let user of users">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{user.userName}} #{{user.userId}}
          </mat-panel-title>
          <mat-panel-description>
            {{user.isAdmin ? 'ADMIN' : ''}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          Name: {{user.firstName}} {{user.lastName}}<br>
          Email: {{user.email}}<br>
          Gender: {{(user.gender) ? user.gender : '-'}}<br>
          Phone Nr.: {{(user.phoneNr) ? user.phoneNr : '-'}}<br>
          Country: {{(user.country) ? user.country : '-'}}<br>
          City: {{(user.city) ? user.city : '-'}}, {{(user.zipCode) ? user.zipCode : '-'}}<br>
        </p>
        <button *ngIf="!user.isAdmin" mat-stroked-button class="black-btn delete-btn" (click)="deleteUser(user.userId)">Delete</button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
