.forgot-password-form{
  margin: 7% auto 0;
  padding: 25px;
  width:50%;
  min-width:431px;
  border:1px solid #7a7a7a;
}

.forgot-password-form> h1 {
  text-align: center;
}

.forgot-password-form math-form-field{
  display:block;
  min-width:0
}

.forgot-password-form mat-icon:hover{
  cursor:pointer;
}

.forgot-password-form-fields{
  width:95%;
  margin: 30px auto;
  text-align: center;
}

.forgot-password-form mat-icon{
  user-select:none;
}

.forgot-password-form-links{
  margin-top:20px;
}

.forgot-password-form a{
  margin-top: 5px;
  display: inline-block;
  color: black;
  text-decoration: none;
}

.forgot-password-form a:hover{
  text-decoration: underLine;
}

.forgot-password-form-btn{
  margin-top: 30px;
  width: 50%;
  grid-column-start: 2;
  grid-column-end: 4;
}
