<div class="forgot-password-form">
  <mat-form-field appearance="outline">
    <math-label>Forgot Password</math-label>
    <input matInput [type]="hide?'Please enter your old password' : 'text'" formControlName="Old password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <input matInput [type]="hide ? 'Now, enter your new password' : 'text'" formControlName="New password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
</div>
