<div *ngIf="!myProducts" class="loading">
  <mat-spinner></mat-spinner>
</div>
<div class="my-products" *ngIf="myProducts">
  <div *ngIf="!myProducts[0]" class="no-products">
    <h1>You currently offer no products!</h1>
    <button mat-stroked-button class="create-product-btn black-btn" (click)="navigateTo('my-products/new')">Create new Product</button>
  </div>
  <div *ngIf="myProducts[0]" class="my-products-content">
    <button mat-stroked-button class="create-btn black-btn" (click)="navigateTo('my-products/new')">Add new Product</button>
    <div class="container">
      <input placeholder="Search" class="search" [(ngModel)]="filter" (ngModelChange)="filterMyProducts()">
      <mat-icon (click)="filterMyProducts()">search</mat-icon>
    </div>
    <div *ngFor="let product of filteredProducts; let i = index" class="content-cards">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <a href="product/{{product.productId}}">{{product.title}} ({{(product.type == 0 ? 'Item' : 'Service')}})</a>
          </mat-card-title>
          <mat-card-subtitle>
            {{product.price.toLocaleString('en-US', { style: 'currency', currency: 'USD' })}}
            <div *ngIf="product.priceKind !== 0">{{(product.priceKind == 1) ? 'per hour' : 'per day'}}</div>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-accordion multi>
            <mat-expansion-panel *ngIf="product.images && product.images[0]">
              <mat-expansion-panel-header>
                Images:
              </mat-expansion-panel-header>
              <div *ngFor="let image of product.images; let j = index;" id="{{'image-' + i + ':' + j}}" class="product-image">
                <img src="{{image}}" style="height: 100%; width: 100%; object-fit: contain">
              </div>
              <a class="prev" (click)="nextImage(i, -1)">&#10094;</a>
              <a class="next" (click)="nextImage(i, 1)">&#10095;</a>
              <div class="dots-container">
                <span *ngFor="let image of product.images; let j = index;" id="{{'dot-' + i + ':' + j}}" (click)="setImage(i, j)" class="dot"></span>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Description:
              </mat-expansion-panel-header>
              <p>{{product.description}}</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Additional Info:
              </mat-expansion-panel-header>
              <p>
                Location: {{product.location}}<br>
                Status: {{(product.status) ? 'Available' : 'Not Available'}}<br>
                Deliverable: {{(product.deliverable) ? 'yes' : 'no'}}<br>
                {{(product.type == 0) ? ((product.sellOrLend == 0) ? 'To sell' : 'To lend') : ''}}
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button class="black-btn" (click)="editProduct(product.productId)">EDIT</button>
          <button mat-stroked-button class="black-btn" (click)="deleteProduct(product)">DELETE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
