.my-products h1 {
  font-size: 3em;
  margin-bottom: 1em;
  text-align: left;
}

.no-products {
  padding-top: 15%;
  text-align: center;
}

.create-product-btn {
  width: 300px;
}

.my-products-content {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
}

.container {
  margin-top: 30px;
  position: relative;
  display: block;
  padding-left: 20px;
  height: 50px;
}

.search-container {
  position: absolute;
  top: 13px;
  left: 20px;
}

.search {
  display: inline;
  padding: 5px;
  background-color: unset;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #a0a0a0;
}

.search:focus {
  outline: none;
}

.container mat-icon {
  position: relative;
  top: 9px;
  cursor: pointer;
  user-select: none;
  color: #777777;
}

.container mat-icon:hover {
  color: #131313;
}

.create-btn {
  display: inline;
  position: relative;
  top: 13px;
  left: calc(100% - 141px);
}

.product {
  margin: 10px auto;
}

@media only screen and (max-width: 1100px) {
  .my-products-content {
    width: 95%;
  }

  .no-products h1 {
    padding: 70px;
  }
}
