.signup-form {
  margin: 20px auto 0;
  padding: 25px;
  width: 50%;
  min-width: 431px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.6);
}

.signup-form > h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 2em;
}

.signup-form mat-form-field {
  display: block;
  min-width: 0;
}

:host ::ng-deep .signup-form .mat-form-field-wrapper{
  margin: 3px 0 !important;
}

.signup-form-fields {
  width: 95%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 15px;
}

.signup-form-btn {
  background-color: #1a1a1a;
  color: white;
  grid-column-start: 2;
  grid-column-end: 4;
}

.signup-form-btn:hover {
  background-color: #101010;
}

.signup-form-btn:disabled {
  background-color: #353535;
  color: white;
}

.first-name, .email {
  grid-column-start: 1;
  grid-column-end: 3;
}

.last-name, .phone-nr {
  grid-column-start: 3;
  grid-column-end: 5;
}

.street, .username, .password{
  grid-column-start: 1;
  grid-column-end: 5;
}

.gender {
  grid-column-start: 1;
  grid-column-end: 2;
}

.city {
  grid-column-start: 1;
  grid-column-end: 4;
}

.country {
  grid-column-start: 2;
  grid-column-end: 5;
}

.zip-code {
  grid-column-start: 4;
  grid-column-end: 5;
}

@media only screen and (max-width: 400px) {
  .signup-form {
    padding: 25px;
    width: 90%;
    min-width: 231px;
    border: none;
    box-shadow: none;
  }

  .signup-form > h1 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.7em;
  }
}